# Discord Bot Token  
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=

# PostgreSQL Bot Database Credentials  
BOT_DB_NAME=
BOT_DB_USER=
BOT_DB_PASSWORD=

# PostgreSQL Connection Details (Optional, defaults are shown)  
PG_HOST=
PG_PORT=

# WebDAV Server Configuration (Optional, for attachment storage)
WEBDAV_HOST=
WEBDAV_PORT=
WEBDAV_HTTPS=
WEBDAV_USERNAME=
WEBDAV_PASSWORD=
WEBDAV_BASE_PATH=

# https://sentry.io
SENTRY_DSN=

# Developer Levels (comma separated user IDs)
DEV_LVL1_IDS=
DEV_LVL2_IDS=
DEV_LVL3_IDS=

SUDO_PASSWORD=